
.scroll {
 height: 100%;
}

.postcard-container {
 display: table;
 position: absolute;
 background-color: yellow;
 height: 100%;
 width: 100%;
}

#map {
 position: absolute;
 height: 100%;
}


.postcard {
 display: table-cell;
 vertical-align: middle;
 background-position: center center;
 background-size: contain;
 background-repeat: no-repeat;
 width: 90%;
}