<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Requests Orders
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="sign-container gradient-1"  style=" overflow-y: auto;" >

    <div *ngIf="orders.length == 0">
        <span class="noOrders"> No Orders </span>
    </div>

    <div *ngFor="let order of orders">
      <ion-card style="margin-right: 20px; margin-left: 20px;">
        <ion-card-header>
  
          <ion-row>
            <ion-col  size="9">
              <ion-card-title>Order  </ion-card-title>
             
            </ion-col>
        
            <ion-col>
              <ion-card-subtitle> <span class="pills" [ngStyle]="{'background-color':  getColorStatus(order.status)  }"> {{ statusOrder(order.status) }}  </span>   </ion-card-subtitle>
            </ion-col>
            </ion-row>

          <ion-row *ngIf="order.status == 1">
            
              <div >

                <img class="imgs" [src]="order.driverImg" alt="Avatar">
                <div  style="display: inline; position: absolute; margin-left: 15px; line-height: 8px;">
                  <p>Driver assigned</p> 
                  <p> <b style="color:black"> {{ order.driverName }} {{ order.driverLast}}   </b> </p>
  
                </div>
               
              </div>

          </ion-row>

          <ion-row>

  

            <div class="address">

              <span> Date:  <b>  {{ order.datedelivery | date: 'dd/MM/yyyy' }}  </b></span> <br>

              <span> Origin:  <b>  {{order.address}} </b> </span> <br> 
              <span> Destiny:  <b>  {{order.address2}} </b> </span>

            </div>

          </ion-row>

          <ion-row>

            <div class="information">
              <span> <b>  Details </b></span>
            </div>

          </ion-row>
  
          <ion-row>

            <div class="flex-container">
              <div>  Distance:   <span class="pillsdos" style="background-color:#273c75;"> {{order.distance}} </span> </div>
              <div style="margin-left: 18px;">  Time:   <span class="pillsdos" style="background-color: #273c75;">  {{order.time}}   </span>  </div>
              <div>  Total:  <span class="pillsdos" style="background-color: #273c75;"> {{order.total}}  </span> </div>  

            </div>

       
            </ion-row>
  
       
        </ion-card-header>
      
  
      </ion-card>
    </div>
   
  </div>





</ion-content>
