<!-- <ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Menu
      </ion-title>
  </ion-toolbar>
</ion-header> -->

<!--  <img  src="../assets/imgs/madison.jpg" />-->
<ion-content class="background" padding>


  
  <div class="wrapper">


    
    <div class="ion-text-center" style="margin-top: 40px">
      <img style="width: 330px" src="../../assets/imgs/logolargo.png" alt=""> <br>

         <span  class="ion-text-center" style="font-size: 14px; font-weight: bold; color:white" (click)="login()">Sign Up / Login</span>
    </div>
 

     <div class="box red" (click)="goMap()">
       <div class="box-container">
     
        <ion-icon name="map"></ion-icon>
        <h3>Request Order</h3>
        <p style="font-size: 11px;">Front-end development framework</p>
       </div>
      
     </div>

     <div class="box green text-center ">
      <div class="box-container">
        <ion-icon name="briefcase"></ion-icon>
        <h3>Information</h3>
        <p style="font-size: 11px;">Apache Cordova compatible plugins</p>
      </div>
     </div>



     
   
  </div>
 
  
  
</ion-content>

