<!-- <ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Menu
      </ion-title>
  </ion-toolbar>
</ion-header> -->

<!--  <img  src="../assets/imgs/madison.jpg" />-->
<ion-content class="background" padding>

  <div class="wrapper">
     <!-- <header>
        <h1>Ionic Technologies</h1>
     </header> -->

     <div class="box red" (click)="goMap()">
       <div class="box-container">
        <ion-icon name="calendar"></ion-icon>
        <h3>Angular</h3>
        <p style="font-size: 11px;">Front-end development framework</p>
       </div>
      
     </div>

     <div class="box green text-center">
      <div class="box-container">
        <ion-icon name="calendar"></ion-icon>
        <h3>Ionic Native</h3>
        <p style="font-size: 11px;">Apache Cordova compatible plugins</p>
      </div>
     </div>



     
    <!--  <footer>Footer</footer> -->
  </div>

</ion-content>

